  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,*{
    
    margin: 0;    
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

main {
    margin-top: 30px;
}

div.content { 
    padding: 0%;
}

/* header / navbar / outros */

/* a navbar */


body {
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin-top: 150px;
}

/*header*/

.containerheader{
    position: fixed;
    margin-top: -10%;
    background-color: #FFF;
}

.logo1{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 125%;
}

.dropbtn {
    font-size: 55px;
    border: none;
    color: #5F328C;
    padding: 16px;
    background-color: #fff;
    font-family: inherit;
    text-decoration: none;
    margin-left: 60%;
    margin-top: -60%;
  }

  .dropdown{
    position: absolute;
    display: block;
    margin-left: 260%;
    margin-top: -20%;
  }

  .dropdown-content{
    font-size: 20px;
    display: none;
    position: absolute;
    overflow: hidden;
    background-color: #FFF;
    color: #5F328C;
    size: 200px;
    min-width: 160px;
    max-height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 16px;
  }

  .show{
    display: block;
    overflow: auto;
  }

/* FIM DA HEADER */

/* MAIN */

/* SECTION - HOME */

.home{
    background-image: linear-gradient(to bottom, rgba(252, 249, 255, 0.953), rgba(94, 31, 88, 0.73)), url("/imgs/mundodigital.svg");
    width: 1240px;
    padding-top: 15%;
    padding-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slogan{
    color: #5F328C;
    display: flex;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    line-height: 27px;
    /* or 112% */
    text-align: center;
}

/* formulário de inscrição da home */ 

.form1{
    background: white;
    border: 2px solid #5F328C;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    width: 520px;
    padding: 20px;
}

/* FIM DA SECTION - HOME */

/* SECTION - features e bolinhas */

/* formatação do textinho */

.nuncaperca{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 0px;
    /* identical to box height, or 0% */   
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
}

.linha{
    color: #89FBBB;
}

.suaempresanocomando{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    display: flex;
    align-items: center;
    text-align: center;
}

/* locais pr'as bolinhas */

.featuresbolinhas{
    background-color: #fff;
    display: flex;
    height: 580px;
    margin-top: 10%;
}

.caixabolinhas{
    background-color: #fff;
    width: 1000px;
}

.umdois {
    display: flex;
}

.tresquatro {
    display: flex;
}

.cincoseis {
    display: flex;
}

.bolinhas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

/* aqui são as bolinhas com texto em si */

.titulobolinha{
    color: #5CBAB3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    /* or 136% */
    text-align: center;
}

.textobolinha{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    /* or 100% */
    text-align: center;
}

.bolinhas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 150px;
    height: 75px;
    text-align: center;
}

/* FIM DA SECTION - features e bolinhas */


/* SECTION - tópicos de sua escolha */

.tópicosecarrossel{
    background-color: #89FBBB;
    height: 400px;
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  

/* FIM DA SECTION - tópicos de sua escolha */

/* SECTION - resultados */

.resultados{
    background-color: #5F328C;
}


/* FIM DA SECTION - resultados */

/* SECTION - empresasdepoimentos */

.empresasdepoimentos{
    background-color: #fff;
}


/* FIM DA SECTION - empresasdepoimentos */

/* SECTION - quemsomos */

.quemsomos{
    background-color: #89FBBB;
}


/* FIM DA SECTION - quemsomos */

/* SECTION - baixenossoapp */

.baixenossoapp{
    background-color: #5F328C;
}


/* FIM DA SECTION - baixenossoapp */

/* SECTION - formfinal */

.formfinal{
    background-color: #fff;
}


/* FIM DA SECTION - formfinal */